<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/lumen/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
    <script type='text/javascript' src='/lib/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/lib/toastr/toastr.js'></script>
    <script type='text/javascript' src='/lib/knockout/dist/knockout.js'></script>
    <title>Admin Login</title>
</head>
<body>
    <div style="padding: 80px 0px 0px 32%; background-color:#127ba3; height:1000px">
        @RenderBody()
    </div>
</body>
</html>
